.signUpFormLabel {
    color: #0D260D;
}

.signUpFormInput,
.signUpFormSelect,
.signUpFormCheckboxInput {
    border-radius: 8px;
    border: 1px solid var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    background: var(----clr-disabled, #F4FAF3);
}

#formGridNameclinic,
#formGridState,
#formGridSpecialty,
#formGridUrgencies {
    border-radius: 8px;
    border: 1px solid var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
}

.signUpFormButton {
    color: var(----clr-white, #FFF);
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #45A443;
    text-decoration: none;
}

.signUpFormButton:hover {
    background-color: #74B07A;
    border-color: #74B07A;
}