.professionalCardImage {
    object-fit: cover !important;
    width: 540px;
    height: 340px;
    border-radius: 5%;
    overflow: hidden;
}


.vetDataContainer {
    display: flex;
    height: 340px;
    padding: 20px 40px !important;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 3px;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));
    background: var(----clr-white, #FFF);
    margin-bottom: 20px;

}

.vetName {
    margin-bottom: 5px;
}

.professionalData {
    display: block;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    justify-content: flex-start;
    font-size: 18px;


}

.professionalButtonContainer {
    display: flex;
    margin-top: 10px;
    margin-left: 500px;
    width: 200px;
    align-items: center;
    text-decoration: none;
    color: #FFF;

}

.professionalCardButton {
    padding: 20px 40px;
    border-radius: 1000px;
    border: 1px solid var(----clr-accent, #45A443);
    background: transparent;
    color: var(----txt-primary, #0D260D) !important;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.professionalCardButton {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
    color: var(----clr-white, #FFF) !important;
    font-size: 15px !important;
}

.professionalName {
    display: block;
    margin-bottom: 5px;
    color: #0D260D;
    justify-content: flex-start;
    font-size: 32px;
}