.professionalCard {
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    background-color: white !important;
    color: #609f69 !important;
    border: 2px solid #74B07A;
}

.professionalCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.professionalCardDetails {
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.professionalCardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.professionalCardDetails p {
    margin: 0;
}

.ProfessionalCardBody {
    text-align: left;
}