.NewRequestForm {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.NewRequestFormLabel {
    color: #0D260D;
}

.NewRequestFormInput,
.NewRequestFormSelect,
#image {
    border-radius: 8px;
    border: 1px solid var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    background: var(----clr-disabled, #F4FAF3);
}

.NewRequestFormTextarea {
    border: 2px solid #609f69 !important;
    border-radius: 10px !important;
    padding: 8px !important;
    margin-bottom: 10px !important;
    height: 300px;
}

.NewRequestFormButton {
    color: var(----clr-white, #FFF);
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #45A443;
    text-decoration: none;
}

.NewRequestFormButton:hover {
    background-color: #74B07A;
    border-color: #74B07A;
}

.containerForm {
    max-width: 700px;
    margin: 80px auto;
}

.titleFormRequest2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-top: 40px;
}

.titleFormRequest {
    color: #46914E;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-top: 35px;
}

.h1FormRequest {
    text-align: center;
    margin-bottom: 35px;
}