.EuthanasiaPage {
    margin-bottom: 100px;
    margin-left: 0px;
    align-items: center;
    width: 100%;
    margin-top: 200px;
}

.imgEuthaContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.euthaImage {
    width: 102vW;
    aspect-ratio: auto;
    margin-bottom: 40px;
    border-radius: 40px !important;
}

.euthaParagraph1 {
    color: var(----clr-accent, #45A443);
    position: absolute;
    top: 300px;
    left: 90px;
    align-self: stretch;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.euthaParagraph2 {
    align-self: stretch;
    color: var(----txt-primary, #0D260D);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.euthaParagraphstrong {
    color: var(----txt-primary, #0D260D);

}

.servText {
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.servicetxt1 {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 50px;

}

.servicetxt2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.servicetxt3 {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}



/*ESTILOS DE LAS CARD*/
.services {
    padding: 0px 112px;
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    margin-bottom: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
}

.services-col {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.services-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
}

.crossIcon {
    width: 60px;
    height: 60px;
}

.services-card h2 {
    color: var(----txt-primary, #0D260D);
}

.servicesBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.services-card .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.card-body p {
    margin-bottom: 0px;
}

.cardservicesText ul {
    list-style: none;
}

.services-card li {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 16px;
    font-weight: 400;
}

.checkIcon {
    flex: 1;
    width: 16px;
    max-width: 100%
}

.button-plans,
.button-services {
    margin-top: auto;
}

.button-services {
    font-weight: 600;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(----clr-accent, #45A443);
    text-decoration: none;
}


/* ESTILOS SECCIÓN APOYO PSICOLÓGICO */

.psico-row {
    padding: 40px 80px;
    background: var(----clr-weak, #E4F5E3);
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.containerPsico {
    display: flex;
    align-items: center;
    justify-content: center;
}

.psico-icon {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    overflow: hidden;
}

.psico-text {
    text-align: center;
}

.rowTextPsico {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;

}

.rowTextPsico2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

/* ==================== MEDIA QUERIES ==================== */
/* Tablet (768px a 1024px) */
@media (max-width: 1024px) {

    .euthaParagraph1 {
        position: absolute;
        top: 120px;
        left: 50px;
        font-size: 55px;
        line-height: 120%;
    }

    .euthaParagraph2 {
        margin-top: 30px;
        font-size: 22px;
        line-height: 160%;
    }

    .servicetxt1,
    .servicetxt2 {
        font-size: 40px;
    }

    .servicetxt3 {
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }

    .services-card {
        width: 100%;
        padding: 1rem 2rem;
    }

    .services {
        padding: 0 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .psico-icon{
        width: 60%;
        height: 60%;
    }

}

/* Móvil: menos de 768px */
@media (max-width: 767px) {

    .euthaParagraph1 {
        position: absolute;
        top: 110px;
        left: 20px;
        font-size: 27px;
        line-height: 120%;
    }

    .euthaParagraph2 {
        display: none;
    }

    .servicetxt1,
    .servicetxt2 {
        font-size: 30px;
    }

    .servicetxt3 {
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        max-width: 310px;
    }

    .services {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        gap: 1.5rem;
    }

    .services-col {
        width: 100%;
        max-width: 100%;
        /* ocupa todo el ancho posible */
        margin-bottom: 1.5rem;
    }

    .services-card {
        width: 100%;
        padding: 1rem;
        /* menos padding en móvil */
    }

    .services-card .servicesBody {
        flex-direction: column;
        height: auto;
    }

    .services-card .cardservicesText ul li {
        font-size: 15px;
    }

    .psico-row {
        padding: 40px 60px;
    }

    .psico-icon{
        width: 60%;
        height: 60%;
    }

}


/* @media only screen and (max-width: 992px) {
    .euthaParagraph1 {
        top: 200px;
        left: 40px;
        font-size: 40px;
    }

    .servicetxt1,
    .servicetxt2 {
        font-size: 25px;
    }

    .servicetxt3 {
        font-size: 18px;
    }
} */

/* @media only screen and (max-width: 768px) {
    .euthaParagraph1 {
        top: 144px;
        left: 31px;
        font-size: 20px;
    }

    .servicetxt1,
    .servicetxt2 {
        font-size: 25px;
    }

    .servicetxt3 {
        font-size: 15px;
    }
} */