.EuthanasiaPage {
    margin-bottom: 100px;
    align-items: center;
    color: #74B07A;
}

.ehthimage {
    position: relative;
    display: inline block;
    width: 99vw;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.EuthanasiaPage h1 {
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 3em;
    color: white;
    width: 30%;
}

.EuthanasiaPage p {
    font-size: 1.5em;
    color: #74B07A;
    text-decoration: none;
}

.EuthanasiaPage a {
    font-size: 2em;
    color: #74B07A;
    text-decoration: none;
}

.EuthanasiaPage a:hover {
    color: #333;
}

.mentalia-button {
    text-align: center;
    border: 2px solid #74B07A;
    border-radius: 20px;
    padding: 10px 100px 10px 100px;
}

.info-button {
    text-align: center;
    border: 2px solid #74B07A;
    border-radius: 20px;
    padding: 10px 100px 10px 100px;
}