.EuthanasiaPage {
    margin-bottom: 100px;
    margin-left: 0px;
    align-items: center
}

.imgEuthaContainer {
    position: relative;
    padding-left: 0px;
}

.euthaImage {
    width: 100%;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.euthaParagraph1 {
    color: var(----clr-accent, #FFF);
    position: absolute;
    top: 150px;
    left: 90px;
    align-self: stretch;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

/*
color: var(----clr-accent, #45A443);
color: var(----txt-primary, #0D260D);

 */
.euthaParagraph2 {
    align-self: stretch;
    color: var(----txt-primary, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.euthaParagraphstrong {
    color: var(----txt-primary, #45A443);

}

.servText {
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.servicetxt1 {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 50px;

}

.servicetxt2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.servicetxt3 {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.psico-row {
    padding: 40px 100px;
    background: var(----clr-weak, #E4F5E3);
    align-items: flex-start;
    align-content: center;

}

.psico-icon {
    height: auto;
    object-fit: cover;
    width: 200px;
    margin-right: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: end;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.rowTextPsico {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;

}

.rowTextPsico2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.mentalia-button {
    /* color: var(----clr-accent, #45A443) !important;
    border-radius: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    border-color: #45A443; */
    color: #0D260D !important;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffffc0;
    margin-right: 10px;
}

.mentaliaStrong {
    color: var(----txt-primary, #45A443);
}

.services {
    padding: 0px 112px;
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    list-style-type: none;
    margin-bottom: 80px;
    justify-content: space-evenly;
}

.services-col {
    justify-content: space-evenly;
}

.crossIcon {
    width: 60px;
    height: 60px;

}

.services-card {
    padding: 0px 20px;

}

.services-card li {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

}

.services-card h3 {
    color: var(----txt-primary, #0D260D);
}

.servicesBody {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardservicesText {
    text-align: center !important;
}

.checkIcon {
    flex: 1;
    width: 16px;
    max-width: 100%
}

.button-services {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(----clr-accent, #45A443);
    text-decoration: none;
}

.containerPsico {
    display: flex;
    align-items: center;
}

/* @media only screen and (max-width: 768px) {
    .intro1 {
        display: none;
    }

    .intro2 {
        position: absolute;
        top: 100px;
        left: 20px;
        font-size: 1.9em;
        color: #fdffea !important;
        width: 30%;
    }

    .info-button,
    .mentalia-button {
        text-align: center;
        border: 2px solid #74B07A;
        border-radius: 20px;
        width: 600px !important;
        margin: 20px 30px 20px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .intro1 {
        display: none;
    }

    .intro2 {
        position: absolute;
        top: 80px !important;
        left: 8px !important;
        font-size: 1em !important;
        color: #fdffea !important;
        width: 20%;

    }

    .info-button,
    .mentalia-button {
        text-align: center;
        border: 2px solid #74B07A;
        border-radius: 20px;
        width: 350px !important;
        margin: 20px;
    }

}