.titleAboutUs {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.titleAboutUs2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}



.presentationAboutUs {
    text-align: center;
    margin: 80px;
    max-width: 100em;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
}

.h1AboutUs {
    text-align: center;
    margin: 30px;
}

.pAboutUs {
    text-align: center;
}

.detailsTitle {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;

}

.turkaTitle {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;

}

.turkaTitle2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.detailsTitle2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;

}

.oscarDetails {
    padding-top: 35px;
    text-align: center;
    background-color: #E4F5E3;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}

.patriDetails {
    padding-top: 35px;
    text-align: center;
    background-color: #E4F5E3;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}

.teresaDetails {
    padding-top: 35px;
    text-align: center;
    background-color: white;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}


.turkaDetails {
    padding-top: 35px;
    text-align: center;
    background-color: white;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}

.turkaText {
    margin: 40px;
}

.footerAboutUsText {
    padding: 5px 0px;
    margin: auto;
    text-align: center;
    background-color: #E4F5E3;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}

.oscarImg {
    height: auto;
    object-fit: cover;
    width: 550px;
    margin-right: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: end;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.teresaImg,
.turkaImg {
    height: auto;
    object-fit: cover;
    width: 550px;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: end;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.oscarText {
    margin-left: 35px;
}

.tereText {
    margin-right: 35px;
}

.patriText {
    margin-left: 35px;
}

.patriImg {
    height: auto;
    object-fit: cover;
    width: 550px;
    margin-right: 85px;
    margin-bottom: 10px;
    align-content: end;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}


.linkClass {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
}

.titlesAbout {
    color: var(----txt-primary, #0D260D) !important;
    margin: 20px 0;
}


.githubIcon {
    height: 18px;
}

.linkedinIcon {
    height: 18px;
}

.aboutUsButtonsContainer {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
}


.aboutButton {
    padding: 20px 40px;
    border-radius: 1000px;
    border: 1px solid var(----clr-accent, #45A443);
    background: transparent;
    color: var(----txt-primary, #0D260D) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.aboutButton:hover {
    background: var(----clr-accent, #45A443);
    color: var(----clr-white, #FFF);
}

.aboutButton {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
}

.arcoirisPhoto {
    height: 30px;
}

@media only screen and (max-width: 992px) {
    .titleAboutUs {
        font-size: 40px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 30px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 20px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 400px;
        height: 400px;
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .titleAboutUs {
        font-size: 35px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 25px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 15px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 300px;
        height: 300px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .aboutButton {
        padding: 15px 30px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .titleAboutUs {
        font-size: 30px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 20px;
    }

    .presentationAboutUs {
        margin: 50px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 10px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 250px;
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .aboutButton {
        padding: 10px 20px;
        font-size: 10px;
    }

    .arcoirisPhoto {
        height: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .titleAboutUs {
        font-size: 40px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 30px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 20px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 400px;
        height: 400px;
        margin-right: 50px;
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .titleAboutUs {
        font-size: 35px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 25px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 15px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 300px;
        height: 300px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .aboutButton {
        padding: 15px 30px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .titleAboutUs {
        font-size: 30px;
    }

    .detailsTitle,
    .turkaTitle {
        font-size: 20px;
    }

    .presentationAboutUs {
        margin: 50px;
    }

    .oscarDetails,
    .teresaDetails,
    .patriDetails,
    .turkaDetails {
        padding-top: 10px;
    }

    .oscarImg,
    .teresaImg,
    .patriImg,
    .turkaImg {
        width: 250px;
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .aboutButton {
        padding: 10px 20px;
        font-size: 10px;
    }

    .arcoirisPhoto {
        height: 20px;
    }
}