.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentationAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 40px; 
    max-width: 100em;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
}

.h1AboutUs {
    text-align: center;
    margin: 30px;
}

.titleAboutUs {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.titleAboutUs2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.text-profile-container{
text-align: center;
padding: 0px 30px;
}


.aboutUsButtonsContainer {
    display: flex;
    margin: 0 auto;
    gap: 2em;
    margin-bottom: 15px;
    align-items: center;
}

.aboutButton {
    padding: 20px 40px;
    border-radius: 1000px;
    border: 1px solid var(----clr-accent, #45A443);
    background: transparent;
    color: var(----txt-primary, #0D260D) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 136%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

    margin: 0 auto;
    margin-bottom: 30px;
}

.aboutButton:hover {
    background: var(----clr-accent, #45A443);
    color: var(----clr-white, #FFF);
}

.aboutUsRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 60px 20px;
}

.background-green {
    background-color: #E4F5E3;
}

.aboutUsRow .profileDetails {
    flex: 0 0 65%;
    text-align: center;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}

.detailsTitle {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.detailsTitle2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.titlesAbout {
    color: var(----txt-primary, #0D260D) !important;
    margin: 20px 0;
}

.linkedinIcon {
    height: 20px;
}

.linkClass {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
}

.githubIcon {
    height: 20px;
}

.aboutUsRow .profileDetailsImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 33%;
    max-width: 33%;
}

.profileImg {
    width: auto;
    max-width: 350px;
    min-width: 350px;
    height: auto;
    max-height: 350px;
    min-height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.arcoirisPhoto {
    height: 30px;
}

#turka {
    margin: 35px;
}

/*FOOTER*/

.footerAboutUsText {
    padding: 20px 0px;
    margin: auto;
    text-align: center;
    width: 100%;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50))
}



/* ==================== MEDIA QUERIES ==================== */

/* Media queries para tablet y móvil */
@media (max-width: 992px) {

    .aboutUsRow {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 60px 20px
    }

    .profileDetails {
        order: 2;
        width: 100%;
    }

    .profileDetailsImage {
        order: 1;
        flex: 0 0 auto;
        width: 100%;
    }

    .aboutUsRow .profileDetails {
        padding: 0px;
    }

    .profileImg {
        max-width: 250px;
    }
}

@media (max-width: 576px) {

    .presentationAboutUs {
    margin: 40px;
    }

    .aboutUsButtonsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:10px
    }

    .aboutButton {
    padding: 10px 20px;
    line-height: 100%;
    margin-bottom: 20px;
}

    .profileImg {
        max-width: 200px;
    }

    .profileDetails {
        padding: 15px;
    }
}