.headerPet {
    color: var(----txt-primary, #0D260D);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-top: 40px !important;
}


.addPet {
    width: 30% !important;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(----clr-accent, #45A443);
    color: var(----clr-white, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.edit-pet {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.petImage {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}


.boxName {
    display: flex;
    align-items: flex-start;
}


.edit-pet {
    margin-left: 480px;
    color: var(----clr-accent, #45A443) !important;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.petName {
    color: var(----txt-primary, #0D260D);
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}


.petData {
    display: flex;
    padding: 30px 40px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));
    background: var(----clr-white, #FFF);
}


/* .iconsData,
span {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    margin-right: 40px;


} */