.professionalPPage {
    background: #F4FAF3;
}

.Section h1 {
    text-align: center;
}


.professionalTitle {
    color: #609f69;
    margin-top: 20px;
    font-size: 30px;
}

.questionResponseTitle {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 25px;
    padding-top: 25px;
}