.RequestCard {
    margin-top: 40px !important;
    padding: 20px 20px;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 40px;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));
    background: var(----clr-white, #FFF);
}

.profileClient {
    display: flex;
    align-items: center;
}

.clientImage,
.profesionalImage {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-right: 40px;
}

.questionResponsetTitle {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.imageResponse {
    margin-right: 15px;
}

.questionText {
    width: 200px;
}

.questionrh {
    margin-bottom: 15px !important;
}

.question-img {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.buttonProfile {
    display: flex;
    width: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(----clr-accent, #45A443);
    color: var(----clr-accent, #45A443) !important;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.profileProfesional {
    display: flex;
    align-items: center;
}

.RequestCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.RequestCardDetails {
    margin-bottom: 20px;
}

.RequestCardButtonContainer {
    display: flex;
    justify-content: center;
}

.RequestCardDetails p {
    margin: 0;
}

.CardBody {
    text-align: left;
}

.card-img-bottom {
    object-fit: cover !important;
    margin-top: 30px !important;
    width: 200px !important;
}

.RequestTitle h1 {
    font-size: 1.5em;
}

.RequestCardButtonContainer {
    display: flex;
    justify-content: center;
}

.RequestCardButtonContainer button {
    font-size: 1em;
    margin: 5px;
    height: 30px;
}






.card-text {
    font-size: 1.3em;
    text-align: left;
}