.RequestCard {
    margin-top: 40px !important;
    display: flex;
    padding: 20px 20px;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 40px;
    flex-direction: column;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));
    background: var(----clr-white, #FFF);
}

.profileClient {
    display: flex;
    align-items: flex-start;
}

.clientImage {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-right: 40px;
}

.req-img {
    width: 300px;
    transition: width 0.5s;
}

.image.expanded {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.buttonProfile {
    display: flex;
    width: 300px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(----clr-accent, #45A443);
    color: var(----clr-accent, #45A443) !important;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.RequestCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.RequestCardDetails {
    margin-bottom: 20px;
}

.RequestCardButtonContainer {
    display: flex;
    justify-content: center;
}

.RequestCardDetails p {
    margin: 0;
}

.CardBody {
    text-align: left;
}

.card-img-bottom {
    object-fit: cover !important;
    margin-top: 30px !important;
    width: 200px !important;
}

.RequestTitle h1 {
    font-size: 1.5em;
}

.RequestCardButtonContainer {
    display: flex;
    justify-content: center;
}

.RequestCardButtonContainer button {
    font-size: 1em;
    margin: 5px;
    height: 30px;
}






.card-text {
    font-size: 1.3em;
    text-align: left;
}