.logo {
    width: 80px;
    height: auto;
}

.nav-link {
    display: flex !important;
    align-items: flex-start !important;
    display: flex;
    padding: 16px 60px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.drop-navbar {
    padding-right: 40px !important;
    padding-left: 50px !important;
    background-color: #46914E !important;
    color: #f5ffe2;
    font-size: 1.2em;
}

a {
    color: white !important;
}


.btnSignup {
    color: #0D260D !important;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffffc0;
    margin-right: 10px;

}

.btnLogin {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid#E4F5E3;
}

.modal-content {
    border: none;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    background-color: white;
}

.modal-title {
    color: #0D260D !important;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
    display: flex;
    align-items: center;
}

.modal-footer .btn {
    background-color: #46914E;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px;
}

.modal-footer .btn:hover {
    background-color: #46914E;
}

.btn {
    background-color: #609f69 !important;
    color: white !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    margin-right: 10px !important;
}

.btn:hover {
    background-color: #74B07A !important;
}

.Tabs-login {
    display: flex !important;
}

.Tabs-login>.nav-item {
    flex: 2;
    text-align: center;
}

.roledd {
    margin-bottom: 10px;
}

.hrdrop {
    margin-top: 10px !important;
}

.dropdown-menu {
    width: 234px;
    padding: 24px 24px 16px 24px !important;
    align-items: center;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20)) !important;
    background: var(----clr-white, #FFF) !important;
    margin-bottom: 10px;
}

.dropdown-toggle {
    background: var(----clr-subtle, #46914E) !important;
}

.btn {
    --bs-btn-font-size: 1.5em !important;
}

.profileButton,
.logoutButton {
    display: flex;
    padding: 16px 0px !important;
    align-items: flex-start;
    gap: 4px;
}

.profilePic,
.logoutPic {
    margin-right: 15px;
}

.modalMenu .nav-item button {
    padding-left: 20px;
    padding-right: 20px;
}

.custom-button {
    transition: background-color 0.3s ease;
    border-radius: 5px;
    position: relative;
}

.custom-button:hover {
    background-color: #E4F5E3 !important;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-container .colNewClient {
    flex: 1;
}

.button-container .colNewClient .custom-button {
    width: 100%;
}

.imageProfile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;

}