.QuestionsPage {
    margin-bottom: 200px;
    align-items: center;
}


.accordion-body h1,
h2,
ul,
li {
    color: #74B07A !important;
}

.accordion-button {
    color: #74b07a !important;
    text-align: left;
}

.accordion-header {
    background-color: #74b07a3d !important;
    color: white !important;
}

.faqsimg {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 40px;
    margin-left: 100px;
}

.QuestionsPage {
    margin-bottom: 100px;
    align-items: center;
    padding-bottom: 200px;
}

.generalQuestions,
.dogQuestions,
.catQuestions,
.exoticQuestions {
    text-align: left;
    color: #74B07A !important
}

.accordion-item {
    border-color: #74B07A !important;
    color: #74B07A !important;
}

.accordion-collapse {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.faqsCol .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.faqsCol .accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.faqsCol .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.questionsH2 {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}