.QuestionsPage {
    margin-bottom: 100px;
    align-items: center;
}


.accordion-body h1,
h2,
ul,
li {
    color: #74B07A !important;
    margin: 30px;
}

.accordion-button {
    color: #74b07a !important;
    width: 100%;
    text-align: left;
}

.accordion-header {
    background-color: #74b07a3d !important;
    color: white !important;
}

.faqsimg {
    position: relative;
    display: inline block;
    height: 50%;
    margin-bottom: 40px;
}

.QuestionsPage {
    margin-bottom: 100px;
    align-items: center;
    padding-bottom: 200px;
}

.faqsRow {
    text-align: justify;
    color: #74B07A !important
}

.accordion-item {
    border-color: #74B07A !important;
    width: 100%;
}

.accordion-collapse {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.faqsCol .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.faqsCol .accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.faqsCol .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.questionsH2 {
    margin: 20px 0 20px 0;
}