.ClientCard {
    border-radius: 30px !important;
    margin-bottom: 20px !important;
    background-color: white !important;
    color: #609f69 !important;
    border: 2px solid #74B07A;
    margin-bottom: 20px !important;
    width: 300px !important;
}

.ClientCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.ClientCardDetails {
    margin-bottom: 20px;
}

.ClientCardButtonContainer {
    display: flex;
    justify-content: center;
}

.ClientCardDetails p {
    margin: 0;
}

.ClientCardBody {
    text-align: left;
}

.profilepic {
    width: 100% !important;
    object-fit: cover !important;
}

.ClientTitle h1 {
    font-size: 1.5em;
}