.drop-navbar {
    position: relative;
    z-index: 1000;
    padding-right: 40px !important;
    padding-left: 50px !important;
    background-color: #46914E !important;
    color: #f5ffe2;
    font-size: 1.2em;
}

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    margin-top: 15px;
}

.picHomePage {
    width: 100vw;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.introParagraph1 {
    color: var(----clr-accent, #45A443);
    position: absolute;
    top: 300px;
    left: 100px;
    padding: 20px;
    margin-top: 30px;
    align-self: stretch;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.introParagraph2 {
    align-self: stretch;
    color: var(----txt-primary, #0D260D);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.introParagraph3 {
    align-self: stretch;
    color: var(----txt-primary, #0D260D);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    display: none;
}

.introParagraphstrong {
    color: var(----txt-primary, #0D260D);
}

.textOfLove {
    margin: 20px 20px;
    text-align: center;
}

.sharedlovetxt1 {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.sharedlovetxt2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.sharedlovetxt3 {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.RowOfLove {
    display: flex;
    padding: 0px 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.itemsOfLove {
    width: 57px;
}

.tags {
    height: 250px;
    display: flex;
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));
}

.headertag {
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
}

.tags p {
    align-self: baseline;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.accordion-button {
    font-size: 1.3rem !important;
    height: 60px;
    background: white !important;
    color: var(----txt-primary, #0D260D) !important;
    box-shadow: none !important;
}

.pug-row,
.cat-row,
.exotic-row {
    display: block;
    padding: 80px 10px;
}

.cat-row {
    width: 100%; 
    padding: 80px 0; 
    background: var(----clr-weak, #E4F5E3);
}

.img-col-center {
    display: block;
}

.pug-img,
.cat-img,
.exotic-img {
    width: 100%;
    align-content: end;
}

.catAccordion .accordion-item {
    background: var(----clr-weak, #E4F5E3) !important;
}

.catAccordion .accordion-button {
    background: var(----clr-weak, #E4F5E3) !important;
}

.rowTitle {
    text-align: center;
}

.rowtxt1 {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.rowtxt2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.button-faqs {
    color: var(----clr-accent, #45A443) !important;
    border-radius: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-left: 18px;
    text-decoration: none;
}

.plansText {
    margin-bottom: 20px;
    text-align: center;
}

.plans {
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 100px;
    padding: 0px 20px;
}

.plans-card h3 {
    color: var(----txt-primary, #0D260D);
}

.plansCategories {
    margin: 0px;
}

.plans-card li {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.plans-card ul {
    padding-left: 0px;
    text-align: center;
    list-style-type: none;
}

.plans-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardTitle {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardText {
    text-align: center;
    margin-bottom: 0px;
    min-height: 150px;
}

.checkImg {
    width: 16px;
}

.puppies-col,
.adults-col,
.senior-col {
    display: flex;
    flex-direction: column;
}

.puppies-col>.plans-card,
.adults-col>.plans-card,
.senior-col>.plans-card {
    flex: 1;
}

.button-plans {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(----clr-accent, #45A443);
    text-decoration: none;
}

/* ==================== MEDIA QUERIES ==================== */

/* Tablet (768px a 1024px) */
@media (max-width: 1024px) {

    .introParagraph1 {
        color: var(----clr-accent, #45A443);
        position: absolute;
        top: 170px !important;
        left: 65px;
        align-self: stretch;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 0px;
    }

    .introParagraph2 {
        display: none;
    }

    .introParagraph3 {
        display: block;
        font-size: 15px;
    }

    .sharedlovetxt3 {
        font-size: 18px;
    }

    .tags {
        margin-bottom: 30px;
    }

    .pug-row,
    .cat-row,
    .exotic-row {
        padding: 50px 20px;
    }

    .img-col-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-wrapper {
        display: block;
    }

    .pug-img,
    .cat-img,
    .exotic-img {
        width: 100%;
        height: 100%;
    }

    .rowtxt1,
    .rowtxt2 {
        font-size: 35px;
    }

    /* Acordeones */
    .accordion-button {
        font-size: 1.1rem ! important;
        font-weight: 500;
        padding: 0.5rem 1rem !important;
    }

    .accordion-body {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    /* Planes económicos*/
    .plans .col-md-4 {
        flex: 0 0 60% !important;
        max-width: 60% !important;
        margin-bottom: 3rem;
    }

    .plans {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cardText {
        min-height: auto;
    }

    .button-plans {
        padding: 10px 20px;
    }
}

/* Móviles (menos de 767px) */
@media (max-width: 767px) {

    /* Intro text */
    .introParagraph1 {
        font-size: 1.5rem;
        top: 110px !important;
        left: 20px;
    }

    .introParagraph3 {
        display: none;
    }

    .sharedlovetxt1,
    .sharedlovetxt2 {
        font-size: 2rem;
    }

    .sharedlovetxt3 {
        font-size: 16px;
    }

    .pug-row,
    .cat-row,
    .exotic-row {
        flex-direction: column;
    }

    .img-col-center {
        order: 0;
        margin-bottom: 20px;
    }

    .dogQuestions,
    .catQquestions,
    .exoticQuestions {
        order: -1;
    }

    .accordion-button {
        font-size: 1rem !important;
        font-weight: 500;
        padding: 0.5rem 1rem !important;
    }

    .accordion-body {
        font-size: 0.9rem;
        line-height: 1.5;
    }


    /* Planes económicos*/
    .sharedlovetxt1,
    .sharedlovetxt2 {
        font-size: 2rem;
    }

    .plans .col-md-4 {
        flex: 0 0 80% !important;
        max-width: 80% !important;
        margin-bottom: 2.5rem;
    }

    .plansCategories {
        font-size: 18px;
        margin: 0px;
    }

    .cardTitle {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .cardTitle img {
        width: 80%;
    }

    .plans-card li {
        text-align: left;
    }

    .button-plans {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background: var(----clr-accent, #45A443);
        text-decoration: none;
    }
}