.imgContainer {
    position: relative;
    display: inline block;
}

.picHomePage {
    width: 100vw;
    aspect-ratio: auto;
    margin-bottom: 40px;
}

.introParagraph1 {
    color: var(----clr-accent, #45A443);
    position: absolute;
    top: 400px;
    left: 160px;
    align-self: stretch;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.introParagraph2 {
    align-self: stretch;
    color: var(----txt-primary, #0D260D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.introParagraphstrong {
    color: var(----txt-primary, #0D260D);

}

.textOfLove {
    margin-bottom: 20px;
    text-align: center;
}

.sharedlovetxt1 {
    color: var(----clr-accent, #45A443);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

.sharedlovetxt2 {
    color: var(----txt-primary, #0D260D);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
    margin-bottom: 1px;
}

.sharedlovetxt3 {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    text-align: center;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.RowOfLove {
    display: flex;
    padding: 56px 80px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.itemsOfLove {
    width: 57px;
}

.tags {
    height: 250px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align: left;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 16px;
    border: 1px solid var(----clr-accent-20, rgba(58, 148, 56, 0.20));

}

.headertag {
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.tags p {
    align-self: baseline;
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.accordion-item {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.accordion-button {
    font-size: 1.3rem !important;
    height: 60px;
    background: white !important;
    color: var(----txt-primary, #0D260D) !important;
    box-shadow: none !important;
}

.pug-img,
.exotic-img {
    margin-left: 170px;
    align-content: end;
}

.pug-row,
.exotic-row {
    padding: 80px 100px;
}

.cat-row {
    padding: 40px 100px;
    background: var(----clr-weak, #E4F5E3);
}

.cat-img {
    width: 550px;
    margin-right: 85px;
    align-content: end;
}

.catAccordion .accordion-item {
    background: var(----clr-weak, #E4F5E3) !important;
}

.catAccordion .accordion-button {
    background: var(----clr-weak, #E4F5E3) !important;
}


.button-faqs {
    color: var(----clr-accent, #45A443);
    border-radius: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.plansText {
    margin-bottom: 60px;
    text-align: center;
}

.plans {
    padding: 0px 112px;
    color: var(----txt-primary, #0D260D);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    list-style-type: none;
    /* 30px */
}

.plans-card {
    padding: 0px 20px;
}

.plans-card h3 {
    color: var(----txt-primary, #0D260D);
}

.plans-card li {
    color: var(----txt-subtle, rgba(13, 38, 13, 0.50)) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

}

.plans-card ul {
    padding-left: 0px;
    text-align: center;
    list-style-type: none !important;
}


.cardText {
    text-align: center !important;
}

.cardBody {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.checkImg {
    width: 16px;
}

.button-plans {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: var(----clr-accent, #45A443);
}

/* ---------- */

/* ---------- */





/* .container-dog,
.container-cat,
.container-exotic {
    display: flex;
    align-items: center;
    margin: 50px;
    justify-content: left;

}

.container-dog,
.container-cat,
.container-exotic article {
    max-width: 100%;
    text-align: justify;
}

h2 {
    color: #74B07A;
}



.itemsOfFaq {
    margin-right: 50px;
    height: 300px;
}




.faq-row h2 {
    margin-bottom: 40px;
}

.plans {
    margin-bottom: 200px;
    color: #74B07A;
    text-align: center;
}

.puppiesCard,
.adultsCard,
.seniorCard {
    border: 4px solid #74B07A !important;
    border-radius: 30px !important;
    background-color: #74b07a76 !important;
}

.puppies-col,
.adults-col,
.senior-col {
    width: 200px;
    border-radius: 30px;
}


.plans h2 {
    color: #74B07A;
    margin: 30px;
}

.plans h3 {
    color: #74B07A;
    font-size: 1.4em;
    opacity: 60%;
    margin-bottom: 30px;
    text-align: center;
}

.plans img {
    border-radius: 30px 30px 0px 0px;
}

.button-plans {
    border-color: #74B07A;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px 40px;
    text-decoration: none;
    color: #74B07A;
    font-size: 1.3em;
}

.cardBody {
    height: 250px;
}

@media only screen and (max-width: 600px) {

    .introParagraph1 {
        display: none;
    }

    .introParagraph2 {
        display: block !important;
        margin: 0px 20px;
        text-align: justify;
        color: #74B07A;
    }

    .tags {
        align-items: center;
        text-align: justify;
    }

    .container-dog,
    .container-cat,
    .container-exotic {
        align-items: center;
        justify-content: left;
        display: block !important;

    }

    .container-dog,
    .container-cat,
    .container-exotic article {
        max-width: 100%;
        text-align: left;
        margin-bottom: 40px;
    }

    .faqs {
        font-size: 1em;
        color: #74B07A;
        border: 2px solid #74B07A;
        border-radius: 50px;
        margin-bottom: 30px;
        background-color: #74b07a2e;
    }

    .accordion-body h1,
    h2,
    ul,
    li {
        color: #74B07A !important;
        margin: 10px !important;
        font-size: 1.4rem;
    }

    .itemsOfFaq {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }

    .button-faqs {
        border-color: #74B07A;
        border: 3px solid;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color: #74B07A;
        margin-left: 20px !important;
    }

    .button-faqs:hover {
        background-color: #74B07A;
        color: white;
    }

    .faq-row {
        color: #74B07A;
        text-align: center;
        margin-bottom: 40px;
    }

    .faq-row h2 {
        margin-bottom: 40px;
    }

    .plans {
        margin-bottom: 200px;
    }

    .plans h2 {
        color: #74B07A;
        margin: 0px;
        margin-bottom: 20px;
    }

    .puppiesCard,
    .adultsCard,
    .seniorCard {
        width: 23rem !important;
        margin-bottom: 20px;
        color: #74B07A;
        text-align: center;
        margin-left: 80px;
    }
}

@media only screen and (max-width: 768px) {

    .introParagraph1 {
        display: none;
    }

    .introParagraph2 {
        display: block !important;
        margin: 0px 20px;
        text-align: justify;
        color: #74B07A;
    }

    .tags {
        display: block !important;
        align-items: center;
        text-align: justify;
    }

    .container-dog,
    .container-cat,
    .container-exotic {
        align-items: center;
        justify-content: left;
        display: block !important;

    }

    .container-dog,
    .container-cat,
    .container-exotic article {
        max-width: 100%;
        text-align: left;
        margin-bottom: 40px;
        text-align: left;
        font-size: 1.7em;
    }

    .faqs {
        font-size: 1em;
        color: #74B07A;
        border: 2px solid #74B07A;
        border-radius: 50px;
        margin-bottom: 30px;
        background-color: #74b07a2e;
    }

    .itemsOfFaq {
        width: 70%;
        height: auto;
    }

    .button-faqs {
        border-color: #74B07A;
        border: 3px solid;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        color: #74B07A;
        margin-left: 50px;
    }


    .button-faqs:hover {
        background-color: #74B07A;
        color: white;
    }

    .faq-row {
        color: #74B07A;
        text-align: center;
        margin-bottom: 40px;
    }

    .faq-row h2 {
        font-size: 1.7em;
    }

    .col {
        display: 0;
    }

    .col-md-6 {
        font-size: 1.5;
    }

    .faq-row h2 {
        margin-bottom: 40px;
    }

    .plans {
        margin-bottom: 200px;
    }

    .puppiesCard,
    .adultsCard,
    .seniorCard {
        width: 13rem !important;
        margin-bottom: 20px;
        color: #74B07A;
        text-align: center;

    }

    .plansCategories {
        font-size: 1.4rem;
    }

} */