.ClientProfilePage {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.Section {
    width: 48%;
}

.Section h1 {
    text-align: center;
}

.ClientCard,
.PetCard {
    width: 100%;
}

.profileTitle {
    color: #609f69;
    margin-top: 20px;
}