.UserProfilePage {
    background: var(--clr-disabled, #F4FAF3);
    padding: 30px;
    gap: 15px;
}

.lateralBar {
    margin-top: 20px;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid var(--clr-accent-20, rgba(58, 148, 56, 0.20));
    background: var(--clr-white, #FFF);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonLateralBar {
    color: black !important;
}


.lateralBarTitle {
    color: var(--txt-subtle, rgba(13, 38, 13, 0.50));
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.buttonLateralBar {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #E4F5E3;
    color: #0D260D;
    text-decoration: none;
}

.buttonLateralBar img {
    width: 24px;
    height: 24px;
}

@media (max-width: 576px) {
    .lateralBar {
        width: 100%;
        padding: 8px;
    }

    .lateralBarTitle {
        font-size: 18px;
    }

    .buttonLateralBar {
        font-size: 12px;
        padding: 6px 12px;
    }

    .buttonLateralBar img {
        width: 18px;
        height: 18px;
    }

    .profileContainer {
        flex-direction: column;
        align-items: center;
    }

    .profileImg {
        width: 70px;
        height: 70px;
    }

    .profileDetails {
        margin-top: 10px;
    }
}

@media (max-width: 390px) and (max-height: 844px) {
    .lateralBar {
        width: 100%;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lateralBarTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .buttonLateralBar {
        font-size: 10px;
        padding: 4px 8px;
    }

    .buttonLateralBar img {
        width: 16px;
        height: 16px;
    }

    .profileContainer {
        flex-direction: column;
        align-items: center;
    }

    .profileImg {
        width: 60px;
        height: 60px;
    }

    .profileDetails {
        margin-top: 5px;
    }
}